{% extends 'base.html' %}

  <p>{% block content %}</p>
  <h1 style="text-align: center;"><span style="color: #58C6D1;"><p style = "font-family:Helvetica Neue;">
    VenVet 
    </p></span></h1>
  <form action="/create" method="post">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <br/>
        {% for message in messages %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{ message }}</strong>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <h2 style="text-align: left;"><span style="color: #163F70;"><p style = "font-family:Helvetica Neue;">Nueva Cita</span></h2><br>
    <h4><label for="name"><p style = "font-family:Helvetica Neue;">Nombre: </label> 
        <input id="name" name="name" type="text" /></h4>
    <h4><label for="pet"><p style = "font-family:Helvetica Neue;">Especie: </label> 
        <input id="pet" name="pet" type="text" /><br/><label for="date"></label></h4>
    <h4><label for="date"><p style = "font-family:Helvetica Neue;">Fecha y Hora: </label> 
        <input id="date" name="date" type="datetime-local" /></h4>
    <p><input type="submit" value="Registrar" style = "font-family:Helvetica Neue;"/></p>
    <p style = "font-family:Helvetica Neue;">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/></p>
    <hr/>
  </form>
  
  <h2><span style="color: #163F70;"><p style = "font-family:Helvetica Neue;">Citas</span></h2><hr/>

  <div class="container">
    <div clas="row">
      <div clas="col">
        <table class="table table-hover table-striped">
          <thead class="table-warning">
            <tr>
              <th>Name</th>
              <th>Pet</th>
              <th>Date</th>
              <th>Update Date</th>
            </tr>
          </thead>
          <tbody>
            {% for appointments in appointments %}
            <tr>
              <td>{{appointments.name}}</td>
              <td>{{appointments.pet}}</td>
              <td>{{appointments.date}}</td>
              <td>   <form method="POST" action="./updatedate">
                <input type="hidden" value="{{appointments.date}}" name="olddate">
                <input type="hidden" value="{{appointments.id}}" name="appid">
                <input type="datetime-local"  name="newdate">
                <input type="submit" value="Update Date">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
              </form>
            </td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <hr/>
  <form action="./delete" method="POST">
    <h2><span style="color: #163F70;"><p style = "font-family:Helvetica Neue;">Eliminar Cita</span></h2>
      <p style = "font-family:Helvetica Neue;">
        <input name="name" type="text" class="form-control-sm" placeholder="Nombre" aria-label="Username"/>
        <input type="submit" value="Delete"/></p>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/> 
    </form>
  </div>


{% endblock %}

