{% block content %}
    <form action="/create" method="post">
        <label for="name">Nombre: </label>
        <input type="text" id="name" name="name" /><br>
        
        <label for="pet">Pet: </label>
        <input type="text" id="pet" name="pet" /><br>
        
        <label for="date">Date: </label>
        <input type="datetime-local" id="date" name="date" /><br>

        <input type="submit" value="Registrar"/>
    </form>
    <form method="POST" action="./delete">
        <input type="text"  name="name">
        <input type="submit" value="Delete">
      </form>
      <h1>Citas</h1>
    {% for appointment in appointments %}
      <p>{{appointments.name}}</p>
    {% endfor %}

{% endblock %}